<template>
  <div>
    <v-app>
      <v-navigation-drawer v-model="drawer" app clipped>
        <v-list dense>
          <v-list-item link to="/" v-show="isAuth">
            <v-list-item-action>
              <v-icon>mdi-home</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Home</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link to="/questions" v-show="isAuth">
            <v-list-item-action>
              <v-icon>mdi-view-dashboard</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>My questions</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link to="/asksomething" v-show="isAuth">
            <v-list-item-action>
              <v-icon>mdi-forum</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Ask something</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link to="/settings" v-show="isAuth">
            <v-list-item-action>
              <v-icon>mdi-settings</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Settings</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link v-show="isAuth">
            <v-list-item-action>
              <v-icon>mdi-account-off</v-icon>
            </v-list-item-action>
            <v-list-item-content @click="logout">
              <v-list-item-title>Log out</v-list-item-title>
            </v-list-item-content>
          </v-list-item>

          <v-list-item link to="/login" v-show="!isAuth">
            <v-list-item-action>
              <v-icon>mdi-account</v-icon>
            </v-list-item-action>
            <v-list-item-content>
              <v-list-item-title>Login / Registration</v-list-item-title>
            </v-list-item-content>
          </v-list-item>
        </v-list>
      </v-navigation-drawer>

      <v-app-bar app clipped-left>
        <v-app-bar-nav-icon @click.stop="drawer = !drawer" />
        <v-toolbar-title>Questions and Answers</v-toolbar-title>
      </v-app-bar>

      <v-content>
        <!--class="fill-height" -->
        <v-container fluid>
          <div style="width:40%;margin:auto;" v-if="!isAuth">
            <div style="text-align:center">
              <h2>Login</h2>
            </div>
            <v-form ref="form" lazy-validation>
              <v-text-field label="Username" required v-model="username"></v-text-field>

              <v-text-field
                append-icon="mdi-eye"
                label="Password"
                type="password"
                required
                v-model="password"
              ></v-text-field>

              <v-btn color="success" class="mr-4" @click="checkLogin">Login</v-btn>
              <div>Dont have accout ?</div>
              <v-btn color="blue" @click="insertUser" class="mr-4">Registration</v-btn>
            </v-form>
          </div>
          <router-view v-else />
        </v-container>
      </v-content>
    </v-app>
  </div>
</template>

<script>
import Api from "./logic/apiServices/Api";
import { request } from "http";

export default {
  name: "App",

  components: {},

  props: {
    source: String
  },
  data: () => ({
    drawer: null,
    isAuth: false,
    username: "",
    password: "",
    userId: ""
  }),
  created() {
    this.$vuetify.theme.dark = true;

    //proba
  },
  methods: {
    checkLogin() {
      let user = {
        username: this.username,
        password: this.password
      };
      Api.login.post(user).then(response => {
        console.log(response.data);
        this.isAuth = true;
        console.log(response.data._id);
        localStorage.setItem("user", JSON.stringify(response.data));
      });
    },

    logout() {
      this.isAuth = false;
      localStorage.removeItem("user");
    },
    insertUser(){
      let user = {
        username:this.username,
        password:this.password
      }
      Api.user.post(user).then((res)=>{
          alert('New user sucessfuly created!');
      });
    }
  }
};
</script>


