<template>
  <div>
    <div v-if="!loading">
      My Questions
      <v-expansion-panels>
        <v-expansion-panel v-for="item2 in questions" :key="item2._id">
          <v-expansion-panel-header v-model="questionForModal">{{item2.pitanje}}</v-expansion-panel-header>
          <v-row>
            <v-spacer />
            <v-col cols="12" sm="2">
              <v-btn small @click="deleteQuestion(item2)" color="error">Delete question</v-btn>
            </v-col>
            <v-col cols="12" sm="2">
              <v-row justify="center">
                <v-btn small color="#cfa902" dark @click.stop="dialog = true">Update question</v-btn>

                <v-dialog v-model="dialog" max-width="290">
                  <v-card>
                    <v-card-title class="headline">Update your question:</v-card-title>

                    <v-card-text>
                      <v-textarea
                        prepend-inner-icon
                        class="mx-2"
                        label="Leave your new question"
                        rows="3"
                        v-model="questUpdate"
                      ></v-textarea>
                    </v-card-text>

                    <v-card-actions>
                      <v-spacer></v-spacer>

                      <v-btn color="green darken-1" text @click="dialog = false">Cancel</v-btn>

                      <v-btn
                        color="green darken-1"
                        text
                        @click="dialog = false; saveUpdate(item2)"
                      >Save</v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </v-row>
            </v-col>
          </v-row>

          <v-expansion-panel-content>
            <ul v-for="item in answers" :key="item._id">
              <div v-if="item2._id===item.questionID">Answer : {{item.odgovor}}</div>
            </ul>
            <v-textarea
              prepend-inner-icon
              class="mx-2"
              label="Leave comment"
              rows="1"
              v-model="comment"
            ></v-textarea>
            <v-btn small color="primary" @click="addComment(item2)">Comment</v-btn>
          </v-expansion-panel-content>
        </v-expansion-panel>
      </v-expansion-panels>
    </div>
    <div v-else style="margin-left:47%;margin-top:20%">
      <v-progress-circular :size="50" color="primary" indeterminate></v-progress-circular>
    </div>
  </div>
</template>

<script>
import Api from "../logic/apiServices/Api";
export default {
  name: "home",
  components: {},
  data: () => ({
    drawer: null,
    questions: [],
    answers: [],
    comment: "",
    loading: true,
    dialog: false,
    questionForModal: "",
    questUpdate: ""
  }),
  created() {
    this.$vuetify.theme.dark = true;

    let user = JSON.parse(localStorage.getItem("user"));
    console.log(user);
    let filter = {
      userID: user.userID
    };
    console.log(filter);
    Api.question.getList(filter).then(respose => {
      this.questions = respose.data;
      console.log(this.questions);
      this.loading = false;
    });
    Api.answer.getList().then(respose => {
      this.answers = respose.data;
      console.log(this.answers);
    });
  },
  methods: {
    addComment(question) {
      console.log(question);
      let item = {
        userID: this.userID,
        questionID: question._id,
        odgovor: this.comment,
        datetime: new Date()
      };
      Api.answer.post(item).then(() => {
        Api.answer.getList().then(respose => {
          this.answers = respose.data;
          console.log(this.answers);
        });
      });
    },
    deleteQuestion(questID) {
      let item = questID._id;

      Api.question.delete(item).then(response => {
        let user = JSON.parse(localStorage.getItem("user"));
        console.log(user);
        let filter = {
          userID: user.userID
        };
        Api.question.getList(filter).then(respose => {
          this.questions = respose.data;
          console.log(this.questions);
          this.loading = false;
        });
        console.log(response);

        alert("Question sucesfully deleted!");
      });
    },
    saveUpdate(item2) {
      let user = JSON.parse(localStorage.getItem("user"));
      let filter = user.userID;
      let questUpdateID = item2._id;
      let item = {
        userID: filter,
        pitanje: this.questUpdate,
        datatime: new Date(),
        kategorija: "update kategorija"
      };
      Api.question.put(questUpdateID, item).then(res => {
        alert("Question sucessfuly updated!");
        let user = JSON.parse(localStorage.getItem("user"));
        let filter = user.userID;
        Api.question.getList(filter).then(respose => {
          this.questions = respose.data;
          console.log(this.questions);
        });
      });
    }
  }
};
</script>
}

<style>
</style>
